html,body{
    height:100%;
}

body{
    padding-top:50px; /*padding for navbar*/
}

#logo{
    max-height: 40px;
}



.navbar .form-control:focus {
    border-color: #49bfff;
    outline: 0;
    -webkit-box-shadow: inset 0 0 0;
    box-shadow: inset 0 0 0;
}

.navbar-brand{
    display: table;
}

#main{
   padding-top: 40px;
}

#main, #main>.row {
    height:100%;
}

#main>.row {
    overflow-y:scroll;
}

#left {
    height:100%;
}

.angular-google-map-container {
    height: 400px;
}

#map-spinner{
margin-top: -10px;
}
