<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' bounds="map.bounds" options="map.options" control='map.control' draggable="true">
                <ui-gmap-markers models="pokemonMarkers" coords="'self'" icon="'icon'" options="'options'" fit="true" idkey="'encounter_id'">
                    <ui-gmap-windows show="pokemon_name">
                        <div ng-non-bindable>{{pokemon_name}}</div>
                    </ui-gmap-windows>
                </ui-gmap-markers>
                <ui-gmap-search-box template="searchbox.template" options="searchbox.options" events="searchbox.events"></ui-gmap-search-box>
            </ui-gmap-google-map>
        </div>
        <a ng-click='getLocation()' >Show your location</a>
    </div>
</div>